.main-nav ul {
    padding: 0;
}

.main-nav li {
    list-style: none;
    display: inline-block;
}

.main-nav li ~ li {
    margin-left: 15px;
}

.main-nav li a {
    color: yellow;
    font-weight: bold;
    display: block;
    padding: 15px 20px;
    text-decoration: none;
}

.main-nav li a:hover {
    text-decoration: underline;
}

.main-nav li a.active {
    text-decoration: underline;
}

